h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

p {
  font-family: Roboto;
}

.navbar {
  background: white;
  border: 0;
  font-family: Poppins;
}

.navbar-brand {
  font-size: 30px;
  color: black !important;
  font-weight: bold;
}

#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase img {
  padding: 30px;
  width: 80%;
  height: 80%;
}

.icons {
  text-align: center;
  color: black;
}

.icons i {
  margin: 5px;
  color: black;
}

#testimonial {
  background: #f1f1f1;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: 15px 0 15px 0;
}

#testimonial p {
  font-size: 20px;
  font-family: "Josefin Sans";
  color: black;
}

.carousel-item img {
  opacity: 0.3;
  height: 500px;
}

.carousel-item {
  background-color: rgba(0, 0, 0);
}

.carousel-caption {
  margin-bottom: 130px;
  padding: 10px;
  border: 1px solid white;
}

.card img {
  width: 300px;
  height: 200px;
}
